<div class="container-fluid">

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">

    </script>
    {{!-- CLOUDINARY WIDGET --}}

    {{!------------ moving images here, copy across pages: --}}
    <div>
        <img src="/images/curve1.png" alt="shape1" class="curve1">
        <img src="/images/curve4.png" alt="shape4" class="curve4">
    </div>
    {{!----------- end here--}}



    {{!-- getting validation on code for what for --}}



    <div class="row center-align">
        <img src="{{User.profileurl}}" alt="profile picture" class="profile_image">
    </div>
    <div class="row center-align">
        <button id="upload_widget" class="cloudinary-button">Change Profile Picture</button>
        <div class="row signup-form profile-box">
            <h4>Logged in as: {{User.firstname}} {{User.lastname}}</h4>
            <h4>Bio:</h4>
            <h5>{{User.bio}}</h5>
        </div>

    </div>



    <div class="row">

        <div class="col s12">
            <div class="carousel carousel-slider center" id="carouselSlider">
                <div class="carousel-fixed-item center" id="carouselFixed">
                </div>

                {{#each Recos}}
                <div class="carousel-item  white-text" href="#one!">
                    <button id="{{this.ListId}}"> Delete recommendation </button>
                    <h2>Category: {{this.category}}</h2>
                    <h2>Description: {{this.body}}</h2>
                    <a href="#"><img src="{{this.rec_img}}"></a>
                </div>
                {{/each}}


            </div>
        </div>

        <div class="col s2">

        </div>
    </div>
    <br>
    <div class="row">

        <div class="col s12">
            <div class="carousel carousel-slider center">
                <div class="carousel-fixed-item center">
                </div>
                <div class="carousel-item  white-text" href="#one!">
                    <h2>Your Favorites</h2>
                    <a href="#"><img src="https://lorempixel.com/800/400/food/1"></a>
                </div>
                <div class="carousel-item  white-text" href="#two!">
                    <h2>Your Favorites</h2>
                    <a href="#"><img src="https://lorempixel.com/800/400/food/1"></a>
                </div>
                <div class="carousel-item  white-text" href="#three!">
                    <h2>Your Favorites</h2>
                    <a href="#"><img src="https://lorempixel.com/800/400/food/1"></a>
                </div>
                <div class="carousel-item  white-text" href="#four!">
                    <h2>Your Favorites</h2>
                    <a href="#"><img src="https://lorempixel.com/800/400/food/1"></a>
                </div>
            </div>
        </div>
        <div>
            <button id="{{this.UserId}}"> Delete profile! </button>
        </div>

    </div>
</div>